html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #87ceeb 60%, #ffffff 100%);
  overflow: hidden;
}

.flake{
  width: 10px;
  height: 10px;
  position: absolute;
  color: 'red';
}

#snow {
  cursor: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#snow .snow {
  width: 2px;
  height: 2px;
  position: absolute;
  background: #fff;
  border-radius: 50%;
}

#snow .snow.clear {
  width: 1px;
  height: 1px;
}

#snow .snow.faint {
  width: 4px;
  height: 4px;
}

#snow .snow.white {
  background: #fff;
  box-shadow: 0 0 15px #fff;
}

.flake {
  cursor: none;
  width: 25px;
  height: 25px;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  opacity: 1;
  background-image: url('./snowflake2.png');
  background-color: transparent;
}


.flake.fadeOut{
  animation: flakeFade 1s, spin 4s;
}

@keyframes flakeFade {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
